* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: black
  }
  
  body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    background-color: blue;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: auto;
  }
  
  p {
    color: black;
    text-align: center; 
  }
  
  .main-form {
    background-color: white;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center; 
    width: 300px;
    height: 200px;
    border: 3px solid red;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  