*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    user-select: none;    
    border: 1px red none;
}

body{
    background-color: grey;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.wrapper{
    align-items: center;
    justify-content: space-around;
    width: 780px;
    height: 530px;
    background-color: rgb(47, 46, 46);
    margin: 40px;
    padding: 15px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding:10px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: white;
}
.title a{
    text-decoration: none;
    color: rgb(7, 80, 225);
    text-shadow: 
    3px 3px 3px white, /* Shadow to the right and bottom */
    -1px 3px 3px white, /* Shadow to the left and bottom */
    2px -2px 3px white, /* Shadow to the right and top */
    -2px -2px 3px white; /* Shadow to the left and top */
}
.title a:hover{
    color: white;
    text-shadow: 
    3px 3px 3px blue, /* Shadow to the right and bottom */
    -1px 3px 3px blue, /* Shadow to the left and bottom */
    2px -2px 3px blue, /* Shadow to the right and top */
    -2px -2px 3px blue; /* Shadow to the left and top */
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}
button{
    padding: 5px 15px;
    cursor: pointer;    
    border-radius: 12px;
    background-color: rgb(22, 174, 225);
}
button:hover{
    background-color: rgb(24, 194, 251);
}
button:hover:active{
    background-color: rgb(0, 154, 250); 
}
.image{
    margin: 0 auto;
    width: 600px;
    background-color: rgb(59, 57, 57);
    height: 300px;
    display: flex;
    align-items:end;
    flex-direction: column;
    background-image: url("images/store.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    
}
.store{
    margin: 15px;
    width: 600px;
    margin: 0 auto;
    height: 200px;
}

.textarea{
    margin: 15px;
    width: 600px;
    margin: 0 auto;
    height: 120px;
}

.text{
    color: rgb(0, 98, 255);
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-shadow: 
    3px 3px 3px white, /* Shadow to the right and bottom */
    -1px 3px 3px white, /* Shadow to the left and bottom */
    2px -2px 3px white, /* Shadow to the right and top */
    -2px -2px 3px white; /* Shadow to the left and top */
}
.statsarea{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    margin: 0 auto;
    width: 600px;
    justify-content: center;
    align-items: center;    
    margin-left: 20px;
    margin-bottom: 5px;
    
}
.stats-p{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(0, 98, 255);
    margin: 5px;
    padding: 4px;
    text-shadow: 
    3px 3px 3px white, /* Shadow to the right and bottom */
    -1px 3px 3px white, /* Shadow to the left and bottom */
    2px -2px 3px white, /* Shadow to the right and top */
    -2px -2px 3px white; /* Shadow to the left and top */
}
.stats-head{
    margin: 0 auto;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.statsarea p{
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 5px;
}
.statsarea span{
    margin: 0 20px;
}
.health{
    color: white;
    padding: 2px;
    text-shadow: 
    3px 3px 3px black, /* Shadow to the right and bottom */
    -1px 3px 3px black, /* Shadow to the left and bottom */
    2px -2px 3px black, /* Shadow to the right and top */
    -2px -2px 3px black; /* Shadow to the left and top */
}
.health span{
    color: red;
    text-shadow: 
    3px 3px 3px white, /* Shadow to the right and bottom */
    -1px 3px 3px white, /* Shadow to the left and bottom */
    2px -2px 3px white, /* Shadow to the right and top */
    -2px -2px 3px white; /* Shadow to the left and top */
}
.skills{
    color: white;
    padding: 2px;
    text-shadow: 
    3px 3px 3px black, /* Shadow to the right and bottom */
    -1px 3px 3px black, /* Shadow to the left and bottom */
    2px -2px 3px black, /* Shadow to the right and top */
    -2px -2px 3px black; /* Shadow to the left and top */
}
.skills span{
    color: rgb(12, 28, 252);
    text-shadow: 
    3px 3px 3px white, /* Shadow to the right and bottom */
    -1px 3px 3px white, /* Shadow to the left and bottom */
    2px -2px 3px white, /* Shadow to the right and top */
    -2px -2px 3px white; /* Shadow to the left and top */
}
.gold{
    color: white;
    padding: 2px;
    text-shadow: 
    3px 3px 3px black, /* Shadow to the right and bottom */
    -1px 3px 3px black, /* Shadow to the left and bottom */
    2px -2px 3px black, /* Shadow to the right and top */
    -2px -2px 3px black; /* Shadow to the left and top */
}
.gold span{
    color: yellow;
    text-shadow: 
    3px 3px 3px white, /* Shadow to the right and bottom */
    -1px 3px 3px white, /* Shadow to the left and bottom */
    2px -2px 3px white, /* Shadow to the right and top */
    -2px -2px 3px white; /* Shadow to the left and top */
}
.weapon{
    color: white;
    padding: 2px;
    text-shadow: 
    3px 3px 3px black, /* Shadow to the right and bottom */
    -1px 3px 3px black, /* Shadow to the left and bottom */
    2px -2px 3px black, /* Shadow to the right and top */
    -2px -2px 3px black; /* Shadow to the left and top */
}
.weapon span{
    color: green;
    text-shadow: 
    3px 3px 3px white, /* Shadow to the right and bottom */
    -1px 3px 3px white, /* Shadow to the left and bottom */
    2px -2px 3px white, /* Shadow to the right and top */
    -2px -2px 3px white; /* Shadow to the left and top */
}