*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;  
user-select: none;
}

:root {
--very-dark-blue: #0a0a23;
--white: #ffffff;
--yellow: #f1be32;
--golden-yellow: #feac32;
}

body {
background-color: var(--very-dark-blue);
text-align: center;
color: var(--white);
}

h1 {
margin: 15px 0 20px;
}

.btn {
cursor: pointer;
width: 100px;
margin: 40px 40px;
color: var(--very-dark-blue);
background-color: var(--golden-yellow);
background-image: linear-gradient(#ffd05a, #fe9a04);
border-color: var(--golden-yellow);
border-width: 3px;
padding: 10px 20px;
border-radius: 25px;
}

.btn:hover {
background-image: linear-gradient(#d09706, #9a5d03);
}

.rules-container {
padding: 10px 0;
margin: auto;
border-radius: 15px;
border: 5px solid var(--yellow);
background-color: var(--white);
color: var(--very-dark-blue);
cursor: pointer;
}

.rules-container ul {
list-style-type: none;
}

.rules-container p {
margin: 10px 0;
}

@media (min-width: 760px) {
.rules-container {
width: 60%;
}
}

.score-container {
display: flex;
justify-content: space-around;
margin: 30px;
font-size: 1.8em;

}
.score-container #player-score{
color: blue;
margin: 0 30px;
}
.score-container #computer-score{
color: red;

    margin: 0 30px;
}  
.player{
padding: 20px;
background-color: #7e7c7c;    
border-radius: 10px;
border: 1px blue solid;
}
.computer{
padding: 20px;
background-color: #7e7c7c;
border-radius: 10px;
border: 1px red solid;
}

.score {
font-weight: 500;
font-size: 1.8em;
}

.results-container {
font-size: 1.3rem;
}

#winner-msg {
margin-top: 25px;
}

#reset-game-btn {
display: none;
margin: 20px auto;
}
