
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #0140ae, #001F54);
    font-family: Georgia, sans-serif;
    font-size: 24px;
    height: 100vh;
}

.converter {
    background: linear-gradient(to bottom right,  #979dac,#0353a4);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 30px;
    color: #190101;
    width: 600px;
}

.converter h3 {
    font-size: 36px;
    margin-bottom: 20px;
    
}

.input-container {
    margin: 15px 0;
}

input, select {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transition: border 0.3s ease;
}

input:focus, select:focus {
    border-color: #35b8f8; 
}
.road {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/road.png'); 
    background-size: cover;
    border-radius: 5px;
}
#car {
    position: absolute;
    left: 0;
    bottom: 5;
    width: 80px;
    height: 80px;
    transition: left 1s ease-in-out;
}
#carDistance{
    position: absolute; 
    bottom: -10px; 
    left: 0; 
    color: #fff; 
    font-size: 16px;
}
.car-animation {
    position: relative;
    width: 100%;
    height: 100px;
}